.titleTO{
    background-color: #0074BC;
    color: white;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    padding: 1rem;
}
.input-error{
    box-shadow: 0 0 5px 1px #ff2600 !important;
  }